# Dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Next.js
.next
out
turbo

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.pem

# Debug
*.log

# Local env files
.env
.env*.local
.env.production

# IDE
.vscode
.idea
*.swp
*.swo

# Git
.git
.gitignore

# Docker
docker-compose*.yml
Dockerfile
.dockerignore

# Docs
docs
README.md
*.md

# CI/CD
.github
.gitlab-ci.yml

# Cache
.turbo
